<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Agenda - Novo Contato</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>Agenda</h1>
    <form method="POST" action="/adicionar">
        <label form="nome">Nome:</label>
        <input type="text" name="nome" id="nome" />

        <label form="tipo">Tipo:</label>
        <input type="text" name="tipo" id="tipo" />

        <label form="telefone">Telefone:</label>
        <input type="text" name="telefone" id="telefone" />

        <input type="submit" value="Salvar" />
    </form><br>
    <a href="/">Home</a>
</body>

</html>